.idea/
.DS_Store
src.egg-info/
src/.ipynb_checkpoints/
src/__pycache__/
notebooks/.ipynb_checkpoints/
Data/speech_commands/
logs/
Data/speech_commands_v0.01.tar.gz
Data/speech_commands_v0.01/
.venv/
.vscode/
outputs/checkpoints/trained_model
src/train_improved/rst-model
temp_scripts/